body{

}

.brand-logo{
    font-weight: 500;
    margin-left: 16px;
}

.parallax-container{
    height: 500px;
}
p.about{
    margin: 20px 30px;
    font-weight: 400;
}
div#about:focus{
    border: none;
}

div#about{
    margin: 10px 15px;
    padding: 10px;
}

div#work{
    margin: 10px 15px;
    padding: 10px;
}

div#curriculum{
    margin: 10px 15px;
    padding: 10px;
}

div#contact{
    margin: 10px 15px;
    padding: 10px;
}


#fab{
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    margin: 20px;
}

img.card-image{
    width: auto;
    height: auto;
    max-height: 300vh;
}

a.footer-link{
    color: #bebfff;

}
.input-field label {
    color: #D32F2F;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid #D32F2F;
    box-shadow: 0 1px 0 0 #D32F2F   ;
}
.section-title{
    color: #D32F2F;
}