body {

}

.brand-logo {
    font-weight: 500;
    margin-left: 16px;
}

.parallax-container {
    height: 500px;
}

#fab {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    margin: 20px;
}

img.card-image {
    width: auto;
    height: auto;
    max-height: 300vh;
}

a.footer-link {
    color: #b3e5ff;

}

.curr {
    margin: 8px;
    padding: 0 1rem;
}

.title {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h3{
    margin: 0;
}

p{
    margin: 0;
}

.content {
 padding:16px;
    margin-bottom: 10px;
}

.blog-post{
    margin: 8px;
    text-align: justify;
    text-justify: inter-word;
}